.card {
    margin-right: 5vw;
    margin-left: 5vw;
    min-height: 80vh;
    max-height: 80vh;
    min-width: 80vh;
    max-width: 80vw;
    border-radius: 5pt;
    background: #0f0f0f;
    align-self: center;
    /* border-radius: 20pt; */
    z-index: 10;
    overflow: hidden;
    /* border: 5pt solid white; */
    pointer-events: all;
    position: relative;
    box-shadow: 0pt 0pt 20pt 5pt #010101;
}